/* font-family: 'Poiret One', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Arapey', serif; */

body {
    opacity: 1;
    transition: 1.2s opacity;
    background-image: url(zen.jpg);
    background-repeat: repeat;
    background-size: cover; 
}
  
body.fade {
    opacity: 0;
    transition: none;
}

h1 {
    font-family: 'Poiret One', cursive;
    margin-top: 222px;
    margin-right: 40px;
    float: right;
    color: white;
    font-size: 69px;
}

#flux {
    color: white
}

a:hover {
    text-decoration: none;
}

a {
    color: #436E8C;
}

.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.navbar {
    background-color: transparent; 
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: white;
    border-radius: 10px;
    opacity: 0.5;
    /* color: white; */
}

.navbar-brand{
    font-family: 'Poiret One', cursive;
} 

#about {
    background-image: url("../images/lights.svg");
    background-color: transparent;
    background-repeat: no-repeat;
}

#aboutme {
    margin-top: 142px;
    margin-left: 108px;
    border-radius: 300px;
    max-width: 100%;
    height: auto;
}

#aboutmetext {
    float: right;
    margin-top: 95px;
    margin-right: 100px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 17px;
}

#contactInfo {
    font-size: 15px;
}

h2,h3 {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.panel-body {
    padding: 40px;
}

.panel {
    border-radius: 40px;
}

li {
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
}

#next {
    float:right;
    margin-right: 15px;
    margin-top: 260px;
}

#previous {
    float: left;
    margin-left: 15px;
    margin-top: 260px;
}

#blog {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.footer {
    font-family: 'Poiret One', cursive;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: transparent;
    color: white;
    text-align: center;
    opacity: 0.8;
    font-size: 10px
 }

#thoughtFooter {
    position: relative
 }

@media (max-width: 800px) {
    body {
        opacity: 1;
        transition: 2s opacity;
        background-image: url(zen.jpg);
        background-repeat: repeat;
        background-size: 200%;
    }
      
    body.fade {
        opacity: 0;
        transition: none;
    }

    h1 {
        float: none;
        text-align: center;
    }

    #about {
        background-image: url("../images/lights.svg");
        background-color: #7c929e;
        background-size: 100%;
        opacity: 0.85;
        border-radius: 50px;
        margin: 10px;
    }

    #aboutme {
        float: left;
        margin-top: 75px;
        margin-left: 95px;
        border-radius: 300px;
        width: 270px;
        height: auto;
        opacity: 1;
    }

    #aboutmetext {
        float: none;
        padding-left: 100px;
        font-size: 15px;
    }
}

/* Customize for mobile */
@media (max-width: 480px) {
    body {
        background-size: 320%;
    }

    #about {
        background-image: none;
    }

    #aboutme{
        margin: 20px;
        margin-left: 28px;
    }

    #aboutmetext{
        float: none;
        margin-left: 70px;
        font-size: 18px;
        padding: 0;
        text-align: left;
    }

    #contactInfo img {
        width: 20px;
        height: auto;
    }

    .projectImages {
        width: 275px;
        height: auto;
    }

    .footer {
        position: relative
    }

}